@font-face {
  font-family: 'gystyle';
  src:  url('fonts/gystyle.eot?5ozyuh');
  src:  url('fonts/gystyle.eot?5ozyuh#iefix') format('embedded-opentype'),
    url('fonts/gystyle.ttf?5ozyuh') format('truetype'),
    url('fonts/gystyle.woff?5ozyuh') format('woff'),
    url('fonts/gystyle.svg?5ozyuh#gystyle') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="gy-"], [class*=" gy-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'gystyle' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gy-gyapple:before {
  content: "\e900";
}
.gy-gycross:before {
  content: "\e903";
}
.gy-gydivision:before {
  content: "\e904";
}
.gy-gyfile:before {
  content: "\e905";
}
.gy-heartg:before {
  content: "\e907";
}
.gy-house:before {
  content: "\e908";
}
.gy-gy_lock:before {
  content: "\e90a";
}
.gy-pencil2:before {
  content: "\e90d";
}
.gy-resta:before {
  content: "\e916";
}
.gy-suma:before {
  content: "\e918";
}
.gy-trash:before {
  content: "\e919";
}
.gy-unlock:before {
  content: "\e91a";
}
.gy-update:before {
  content: "\e91d";
}
.gy-gyuser:before {
  content: "\e91e";
}
.gy-home:before {
  content: "\e901";
}
.gy-gy_home2:before {
  content: "\e902";
}
.gy-pencil:before {
  content: "\e906";
}
.gy-pen:before {
  content: "\e909";
}
.gy-eyedropper:before {
  content: "\e90b";
}
.gy-droplet:before {
  content: "\e90c";
}
.gy-image:before {
  content: "\e90e";
}
.gy-images:before {
  content: "\e90f";
}
.gy-camera:before {
  content: "\e910";
}
.gy-headphones:before {
  content: "\e911";
}
.gy-music:before {
  content: "\e912";
}
.gy-play:before {
  content: "\e913";
}
.gy-film:before {
  content: "\e914";
}
.gy-video-camera:before {
  content: "\e915";
}
.gy-pacman:before {
  content: "\e917";
}
.gy-bullhorn:before {
  content: "\e91b";
}
.gy-connection:before {
  content: "\e91c";
}
.gy-mic:before {
  content: "\e91f";
}
.gy-book:before {
  content: "\e920";
}
.gy-books:before {
  content: "\e921";
}
.gy-library:before {
  content: "\e922";
}
.gy-file-text:before {
  content: "\e923";
}
.gy-profile:before {
  content: "\e924";
}
.gy-file-empty:before {
  content: "\e925";
}
.gy-files-empty:before {
  content: "\e926";
}
.gy-file-text2:before {
  content: "\e927";
}
.gy-file-picture:before {
  content: "\e928";
}
.gy-file-music:before {
  content: "\e929";
}
.gy-file-play:before {
  content: "\e92a";
}
.gy-file-video:before {
  content: "\e92b";
}
.gy-file-zip:before {
  content: "\e92c";
}
.gy-copy:before {
  content: "\e92d";
}
.gy-paste:before {
  content: "\e92e";
}
.gy-folder:before {
  content: "\e930";
}
.gy-folder-open:before {
  content: "\e931";
}
.gy-folder-plus:before {
  content: "\e932";
}
.gy-folder-minus:before {
  content: "\e933";
}
.gy-folder-download:before {
  content: "\e934";
}
.gy-folder-upload:before {
  content: "\e935";
}
.gy-price-tag:before {
  content: "\e936";
}
.gy-price-tags:before {
  content: "\e937";
}
.gy-barcode:before {
  content: "\e938";
}
.gy-qrcode:before {
  content: "\e939";
}
.gy-ticket:before {
  content: "\e93a";
}
.gy-cart:before {
  content: "\e93b";
}
.gy-coin-dollar:before {
  content: "\e93c";
}
.gy-coin-euro:before {
  content: "\e93d";
}
.gy-coin-pound:before {
  content: "\e93e";
}
.gy-coin-yen:before {
  content: "\e93f";
}
.gy-credit-card:before {
  content: "\e940";
}
.gy-calculator:before {
  content: "\e941";
}
.gy-lifebuoy:before {
  content: "\e942";
}
.gy-phone:before {
  content: "\e943";
}
.gy-phone-hang-up:before {
  content: "\e944";
}
.gy-address-book:before {
  content: "\e945";
}
.gy-envelop:before {
  content: "\e946";
}
.gy-pushpin:before {
  content: "\e947";
}
.gy-location:before {
  content: "\e948";
}
.gy-location2:before {
  content: "\e949";
}
.gy-compass:before {
  content: "\e94a";
}
.gy-compass2:before {
  content: "\e94b";
}
.gy-map:before {
  content: "\e94c";
}
.gy-map2:before {
  content: "\e94d";
}
.gy-history:before {
  content: "\e94e";
}
.gy-clock:before {
  content: "\e94f";
}
.gy-clock2:before {
  content: "\e950";
}
.gy-alarm:before {
  content: "\e951";
}
.gy-bell:before {
  content: "\e952";
}
.gy-stopwatch:before {
  content: "\e953";
}
.gy-calendar:before {
  content: "\e954";
}
.gy-printer:before {
  content: "\e955";
}
.gy-keyboard:before {
  content: "\e956";
}
.gy-display:before {
  content: "\e957";
}
.gy-laptop:before {
  content: "\e958";
}
.gy-mobile:before {
  content: "\e959";
}
.gy-mobile2:before {
  content: "\e95a";
}
.gy-tablet:before {
  content: "\e95b";
}
.gy-tv:before {
  content: "\e95c";
}
.gy-drawer:before {
  content: "\e95d";
}
.gy-drawer2:before {
  content: "\e95e";
}
.gy-box-add:before {
  content: "\e95f";
}
.gy-box-remove:before {
  content: "\e960";
}
.gy-download:before {
  content: "\e961";
}
.gy-upload:before {
  content: "\e962";
}
.gy-floppy-disk:before {
  content: "\e963";
}
.gy-drive:before {
  content: "\e964";
}
.gy-database:before {
  content: "\e965";
}
.gy-undo:before {
  content: "\e966";
}
.gy-redo:before {
  content: "\e967";
}
.gy-undo2:before {
  content: "\e968";
}
.gy-redo2:before {
  content: "\e969";
}
.gy-forward:before {
  content: "\e96a";
}
.gy-reply:before {
  content: "\e96b";
}
.gy-bubble:before {
  content: "\e96c";
}
.gy-bubbles:before {
  content: "\e96d";
}
.gy-bubbles2:before {
  content: "\e96e";
}
.gy-bubble2:before {
  content: "\e96f";
}
.gy-bubbles3:before {
  content: "\e970";
}
.gy-bubbles4:before {
  content: "\e971";
}
.gy-user-plus:before {
  content: "\e974";
}
.gy-user-minus:before {
  content: "\e975";
}
.gy-user-check:before {
  content: "\e976";
}
.gy-user-tie:before {
  content: "\e977";
}
.gy-quotes-left:before {
  content: "\e978";
}
.gy-quotes-right:before {
  content: "\e979";
}
.gy-hour-glass:before {
  content: "\e97a";
}
.gy-spinner:before {
  content: "\e97b";
}
.gy-spinner2:before {
  content: "\e97c";
}
.gy-spinner3:before {
  content: "\e97d";
}
.gy-spinner4:before {
  content: "\e97e";
}
.gy-spinner9:before {
  content: "\e983";
}
.gy-spinner10:before {
  content: "\e984";
}
.gy-spinner11:before {
  content: "\e985";
}
.gy-binoculars:before {
  content: "\e986";
}
.gy-search:before {
  content: "\e987";
}
.gy-zoom-in:before {
  content: "\e988";
}
.gy-zoom-out:before {
  content: "\e989";
}
.gy-enlarge:before {
  content: "\e98a";
}
.gy-shrink:before {
  content: "\e98b";
}
.gy-enlarge2:before {
  content: "\e98c";
}
.gy-shrink2:before {
  content: "\e98d";
}
.gy-key:before {
  content: "\e98e";
}
.gy-key2:before {
  content: "\e98f";
}
.gy-lock:before {
  content: "\e990";
}
.gy-unlocked:before {
  content: "\e991";
}
.gy-wrench:before {
  content: "\e992";
}
.gy-equalizer:before {
  content: "\e993";
}
.gy-equalizer2:before {
  content: "\e994";
}
.gy-cog:before {
  content: "\e995";
}
.gy-cogs:before {
  content: "\e996";
}
.gy-hammer:before {
  content: "\e997";
}
.gy-magic-wand:before {
  content: "\e998";
}
.gy-aid-kit:before {
  content: "\e999";
}
.gy-bug:before {
  content: "\e99a";
}
.gy-pie-chart:before {
  content: "\e99b";
}
.gy-stats-dots:before {
  content: "\e99c";
}
.gy-stats-bars:before {
  content: "\e99d";
}
.gy-gift:before {
  content: "\e9a1";
}
.gy-glass:before {
  content: "\e9a0";
}
.gy-glass2:before {
  content: "\e9a2";
}
.gy-mug:before {
  content: "\e9a3";
}
.gy-spoon-knife:before {
  content: "\e9a4";
}
.gy-leaf:before {
  content: "\e9a5";
}
.gy-rocket:before {
  content: "\e9a6";
}
.gy-meter:before {
  content: "\e9a7";
}
.gy-meter2:before {
  content: "\e9a8";
}
.gy-hammer2:before {
  content: "\e9a9";
}
.gy-fire:before {
  content: "\e9aa";
}
.gy-lab:before {
  content: "\e9ab";
}
.gy-bin:before {
  content: "\e9ad";
}
.gy-bin2:before {
  content: "\e9ae";
}
.gy-briefcase:before {
  content: "\e9af";
}
.gy-airplane:before {
  content: "\e9b0";
}
.gy-truck:before {
  content: "\e9b1";
}
.gy-road:before {
  content: "\e9b2";
}
.gy-accessibility:before {
  content: "\e9b3";
}
.gy-target:before {
  content: "\e9b4";
}
.gy-shield:before {
  content: "\e9b5";
}
.gy-power:before {
  content: "\e9b6";
}
.gy-switch:before {
  content: "\e9b7";
}
.gy-power-cord:before {
  content: "\e9b8";
}
.gy-clipboard:before {
  content: "\e9b9";
}
.gy-list-numbered:before {
  content: "\e9ba";
}
.gy-list:before {
  content: "\e9bb";
}
.gy-list2:before {
  content: "\e9bc";
}
.gy-tree:before {
  content: "\e9bd";
}
.gy-menu:before {
  content: "\e9be";
}
.gy-menu2:before {
  content: "\e9bf";
}
.gy-menu3:before {
  content: "\e9c0";
}
.gy-menu4:before {
  content: "\e9c1";
}
.gy-cloud:before {
  content: "\e9c2";
}
.gy-cloud-download:before {
  content: "\e9c3";
}
.gy-cloud-upload:before {
  content: "\e9c4";
}
.gy-cloud-check:before {
  content: "\e9c5";
}
.gy-download2:before {
  content: "\e9c6";
}
.gy-upload2:before {
  content: "\e9c7";
}
.gy-download3:before {
  content: "\e9c8";
}
.gy-upload3:before {
  content: "\e9c9";
}
.gy-sphere:before {
  content: "\e9ca";
}
.gy-earth:before {
  content: "\e9cb";
}
.gy-link:before {
  content: "\e9cc";
}
.gy-flag:before {
  content: "\e9cd";
}
.gy-attachment:before {
  content: "\e9ce";
}
.gy-eye:before {
  content: "\e9cf";
}
.gy-eye-plus:before {
  content: "\e9d0";
}
.gy-eye-minus:before {
  content: "\e9d1";
}
.gy-eye-blocked:before {
  content: "\e9d2";
}
.gy-bookmark:before {
  content: "\e9d3";
}
.gy-bookmarks:before {
  content: "\e9d4";
}
.gy-sun:before {
  content: "\e9d5";
}
.gy-contrast:before {
  content: "\e9d6";
}
.gy-brightness-contrast:before {
  content: "\e9d7";
}
.gy-star-empty:before {
  content: "\e9d8";
}
.gy-star-half:before {
  content: "\e9d9";
}
.gy-star-full:before {
  content: "\e9db";
}
.gy-heart:before {
  content: "\e9da";
}
.gy-heart-broken:before {
  content: "\e9dc";
}
.gy-man:before {
  content: "\e9dd";
}
.gy-woman:before {
  content: "\e9de";
}
.gy-man-woman:before {
  content: "\e9df";
}
.gy-happy:before {
  content: "\e9e0";
}
.gy-happy2:before {
  content: "\e9e1";
}
.gy-smile:before {
  content: "\e9e2";
}
.gy-smile2:before {
  content: "\e9e3";
}
.gy-tongue:before {
  content: "\e9e4";
}
.gy-tongue2:before {
  content: "\e9e5";
}
.gy-sad:before {
  content: "\e9e6";
}
.gy-sad2:before {
  content: "\e9e7";
}
.gy-wink:before {
  content: "\e9e8";
}
.gy-wink2:before {
  content: "\e9e9";
}
.gy-grin:before {
  content: "\e9ea";
}
.gy-grin2:before {
  content: "\e9eb";
}
.gy-cool:before {
  content: "\e9ec";
}
.gy-cool2:before {
  content: "\e9ed";
}
.gy-angry:before {
  content: "\e9ee";
}
.gy-angry2:before {
  content: "\e9ef";
}
.gy-evil:before {
  content: "\e9f0";
}
.gy-evil2:before {
  content: "\e9f1";
}
.gy-shocked:before {
  content: "\e9f2";
}
.gy-shocked2:before {
  content: "\e9f3";
}
.gy-baffled:before {
  content: "\e9f4";
}
.gy-baffled2:before {
  content: "\e9f5";
}
.gy-confused:before {
  content: "\e9f6";
}
.gy-confused2:before {
  content: "\e9f7";
}
.gy-neutral:before {
  content: "\e9f8";
}
.gy-neutral2:before {
  content: "\e9f9";
}
.gy-hipster:before {
  content: "\e9fa";
}
.gy-hipster2:before {
  content: "\e9fb";
}
.gy-wondering:before {
  content: "\e9fc";
}
.gy-wondering2:before {
  content: "\e9fd";
}
.gy-sleepy:before {
  content: "\e9fe";
}
.gy-sleepy2:before {
  content: "\e9ff";
}
.gy-frustrated:before {
  content: "\ea00";
}
.gy-frustrated2:before {
  content: "\ea01";
}
.gy-crying:before {
  content: "\ea02";
}
.gy-crying2:before {
  content: "\ea03";
}
.gy-warning:before {
  content: "\ea08";
}
.gy-notification:before {
  content: "\ea09";
}
.gy-question:before {
  content: "\ea0a";
}
.gy-plus:before {
  content: "\ea0b";
}
.gy-minus:before {
  content: "\ea0c";
}
.gy-info:before {
  content: "\ea0d";
}
.gy-cancel-circle:before {
  content: "\ea0e";
}
.gy-blocked:before {
  content: "\ea0f";
}
.gy-cross:before {
  content: "\ea10";
}
.gy-checkmark:before {
  content: "\ea11";
}
.gy-checkmark2:before {
  content: "\ea12";
}
.gy-spell-check:before {
  content: "\ea13";
}
.gy-enter:before {
  content: "\ea14";
}
.gy-exit:before {
  content: "\ea15";
}
.gy-play2:before {
  content: "\ea16";
}
.gy-pause:before {
  content: "\ea17";
}
.gy-stop:before {
  content: "\ea18";
}
.gy-previous:before {
  content: "\ea19";
}
.gy-next:before {
  content: "\ea1a";
}
.gy-backward:before {
  content: "\ea1b";
}
.gy-forward2:before {
  content: "\ea1c";
}
.gy-play3:before {
  content: "\ea1d";
}
.gy-pause2:before {
  content: "\ea1e";
}
.gy-stop2:before {
  content: "\ea1f";
}
.gy-backward2:before {
  content: "\ea20";
}
.gy-forward3:before {
  content: "\ea21";
}
.gy-first:before {
  content: "\ea22";
}
.gy-last:before {
  content: "\ea23";
}
.gy-previous2:before {
  content: "\ea24";
}
.gy-next2:before {
  content: "\ea25";
}
.gy-eject:before {
  content: "\ea26";
}
.gy-volume-high:before {
  content: "\ea27";
}
.gy-volume-medium:before {
  content: "\ea28";
}
.gy-volume-low:before {
  content: "\ea29";
}
.gy-volume-mute:before {
  content: "\ea2a";
}
.gy-volume-mute2:before {
  content: "\ea2b";
}
.gy-volume-increase:before {
  content: "\ea2c";
}
.gy-volume-decrease:before {
  content: "\ea2d";
}
.gy-loop:before {
  content: "\ea2e";
}
.gy-loop2:before {
  content: "\ea2f";
}
.gy-infinite:before {
  content: "\ea30";
}
.gy-shuffle:before {
  content: "\ea31";
}
.gy-arrow-up-left:before {
  content: "\ea32";
}
.gy-arrow-up:before {
  content: "\ea33";
}
.gy-arrow-up-right:before {
  content: "\ea34";
}
.gy-arrow-right:before {
  content: "\ea35";
}
.gy-arrow-down-right:before {
  content: "\ea36";
}
.gy-arrow-down:before {
  content: "\ea37";
}
.gy-arrow-down-left:before {
  content: "\ea38";
}
.gy-arrow-left:before {
  content: "\ea39";
}
.gy-arrow-up-left2:before {
  content: "\ea3a";
}
.gy-arrow-up2:before {
  content: "\ea3b";
}
.gy-arrow-up-right2:before {
  content: "\ea3c";
}
.gy-arrow-right2:before {
  content: "\ea3d";
}
.gy-arrow-down-right2:before {
  content: "\ea3e";
}
.gy-arrow-down2:before {
  content: "\ea3f";
}
.gy-arrow-down-left2:before {
  content: "\ea40";
}
.gy-arrow-left2:before {
  content: "\ea41";
}
.gy-circle-up:before {
  content: "\ea42";
}
.gy-circle-right:before {
  content: "\ea43";
}
.gy-circle-down:before {
  content: "\ea44";
}
.gy-circle-left:before {
  content: "\ea45";
}
.gy-tab:before {
  content: "\ea46";
}
.gy-move-up:before {
  content: "\ea47";
}
.gy-move-down:before {
  content: "\ea48";
}
.gy-sort-alpha-asc:before {
  content: "\ea49";
}
.gy-sort-alpha-desc:before {
  content: "\ea4a";
}
.gy-sort-numeric-asc:before {
  content: "\ea4b";
}
.gy-sort-numberic-desc:before {
  content: "\ea4c";
}
.gy-sort-amount-asc:before {
  content: "\ea4d";
}
.gy-sort-amount-desc:before {
  content: "\ea4e";
}
.gy-command:before {
  content: "\ea4f";
}
.gy-shift:before {
  content: "\ea50";
}
.gy-ctrl:before {
  content: "\ea51";
}
.gy-opt:before {
  content: "\ea52";
}
.gy-checkbox-checked:before {
  content: "\ea53";
}
.gy-checkbox-unchecked:before {
  content: "\ea54";
}
.gy-radio-checked:before {
  content: "\ea55";
}
.gy-radio-checked2:before {
  content: "\ea56";
}
.gy-radio-unchecked:before {
  content: "\ea57";
}
.gy-crop:before {
  content: "\ea58";
}
.gy-make-group:before {
  content: "\ea59";
}
.gy-ungroup:before {
  content: "\ea5a";
}
.gy-scissors:before {
  content: "\ea5b";
}
.gy-filter:before {
  content: "\ea5c";
}
.gy-font:before {
  content: "\ea5d";
}
.gy-ligature:before {
  content: "\ea5e";
}
.gy-ligature2:before {
  content: "\ea5f";
}
.gy-text-height:before {
  content: "\ea60";
}
.gy-text-width:before {
  content: "\ea61";
}
.gy-font-size:before {
  content: "\ea62";
}
.gy-bold:before {
  content: "\ea63";
}
.gy-underline:before {
  content: "\ea64";
}
.gy-italic:before {
  content: "\ea65";
}
.gy-strikethrough:before {
  content: "\ea66";
}
.gy-omega:before {
  content: "\ea67";
}
.gy-sigma:before {
  content: "\ea68";
}
.gy-page-break:before {
  content: "\ea69";
}
.gy-superscript:before {
  content: "\ea6a";
}
.gy-subscript:before {
  content: "\ea6b";
}
.gy-superscript2:before {
  content: "\ea6c";
}
.gy-subscript2:before {
  content: "\ea6d";
}
.gy-text-color:before {
  content: "\ea6e";
}
.gy-pagebreak:before {
  content: "\ea6f";
}
.gy-clear-formatting:before {
  content: "\ea70";
}
.gy-table:before {
  content: "\ea71";
}
.gy-table2:before {
  content: "\ea72";
}
.gy-insert-template:before {
  content: "\ea73";
}
.gy-pilcrow:before {
  content: "\ea74";
}
.gy-ltr:before {
  content: "\ea75";
}
.gy-rtl:before {
  content: "\ea76";
}
.gy-section:before {
  content: "\ea77";
}
.gy-paragraph-left:before {
  content: "\ea78";
}
.gy-paragraph-center:before {
  content: "\ea79";
}
.gy-paragraph-right:before {
  content: "\ea7a";
}
.gy-paragraph-justify:before {
  content: "\ea7b";
}
.gy-indent-increase:before {
  content: "\ea7c";
}
.gy-indent-decrease:before {
  content: "\ea7d";
}
.gy-share:before {
  content: "\ea7e";
}
.gy-new-tab:before {
  content: "\ea7f";
}
.gy-embed:before {
  content: "\ea80";
}
.gy-embed2:before {
  content: "\ea81";
}
.gy-terminal:before {
  content: "\ea82";
}
.gy-share2:before {
  content: "\ea83";
}
.gy-mail:before {
  content: "\ea84";
}
.gy-mail2:before {
  content: "\ea85";
}
.gy-mail3:before {
  content: "\ea86";
}
.gy-mail4:before {
  content: "\ea87";
}
.gy-amazon:before {
  content: "\ea88";
}
.gy-google:before {
  content: "\ea89";
}
.gy-google2:before {
  content: "\ea8a";
}
.gy-google3:before {
  content: "\ea8b";
}
.gy-google-plus:before {
  content: "\ea8c";
}
.gy-google-plus2:before {
  content: "\ea8d";
}
.gy-google-plus3:before {
  content: "\ea8e";
}
.gy-hangouts:before {
  content: "\ea8f";
}
.gy-google-drive:before {
  content: "\ea90";
}
.gy-facebook:before {
  content: "\ea91";
}
.gy-facebook2:before {
  content: "\ea92";
}
.gy-instagram:before {
  content: "\ea93";
}
.gy-whatsapp:before {
  content: "\ea94";
}
.gy-spotify:before {
  content: "\ea95";
}
.gy-telegram:before {
  content: "\ea96";
}
.gy-twitter:before {
  content: "\ea97";
}
.gy-vine:before {
  content: "\ea98";
}
.gy-vk:before {
  content: "\ea99";
}
.gy-renren:before {
  content: "\ea9a";
}
.gy-sina-weibo:before {
  content: "\ea9b";
}
.gy-rss:before {
  content: "\ea9c";
}
.gy-rss2:before {
  content: "\ea9d";
}
.gy-youtube:before {
  content: "\ea9e";
}
.gy-youtube2:before {
  content: "\ea9f";
}
.gy-twitch:before {
  content: "\eaa0";
}
.gy-vimeo:before {
  content: "\eaa1";
}
.gy-vimeo2:before {
  content: "\eaa2";
}
.gy-lanyrd:before {
  content: "\eaa3";
}
.gy-flickr:before {
  content: "\eaa4";
}
.gy-flickr2:before {
  content: "\eaa5";
}
.gy-flickr3:before {
  content: "\eaa6";
}
.gy-flickr4:before {
  content: "\eaa7";
}
.gy-dribbble:before {
  content: "\eaa8";
}
.gy-behance:before {
  content: "\eaa9";
}
.gy-behance2:before {
  content: "\eaaa";
}
.gy-deviantart:before {
  content: "\eaab";
}
.gy-500px:before {
  content: "\eaac";
}
.gy-steam:before {
  content: "\eaad";
}
.gy-steam2:before {
  content: "\eaae";
}
.gy-dropbox:before {
  content: "\eaaf";
}
.gy-onedrive:before {
  content: "\eab0";
}
.gy-github:before {
  content: "\eab1";
}
.gy-npm:before {
  content: "\eab2";
}
.gy-basecamp:before {
  content: "\eab3";
}
.gy-trello:before {
  content: "\eab4";
}
.gy-wordpress:before {
  content: "\eab5";
}
.gy-joomla:before {
  content: "\eab6";
}
.gy-ello:before {
  content: "\eab7";
}
.gy-blogger:before {
  content: "\eab8";
}
.gy-blogger2:before {
  content: "\eab9";
}
.gy-tumblr:before {
  content: "\eaba";
}
.gy-tumblr2:before {
  content: "\eabb";
}
.gy-yahoo:before {
  content: "\eabc";
}
.gy-yahoo2:before {
  content: "\eabd";
}
.gy-tux:before {
  content: "\eabe";
}
.gy-appleinc:before {
  content: "\eabf";
}
.gy-finder:before {
  content: "\eac0";
}
.gy-android:before {
  content: "\eac1";
}
.gy-windows:before {
  content: "\eac2";
}
.gy-windows8:before {
  content: "\eac3";
}
.gy-soundcloud:before {
  content: "\eac4";
}
.gy-soundcloud2:before {
  content: "\eac5";
}
.gy-skype:before {
  content: "\eac6";
}
.gy-reddit:before {
  content: "\eac7";
}
.gy-hackernews:before {
  content: "\eac8";
}
.gy-wikipedia:before {
  content: "\eac9";
}
.gy-linkedin:before {
  content: "\eaca";
}
.gy-linkedin2:before {
  content: "\eacb";
}
.gy-lastfm:before {
  content: "\eacc";
}
.gy-lastfm2:before {
  content: "\eacd";
}
.gy-delicious:before {
  content: "\eace";
}
.gy-stumbleupon:before {
  content: "\eacf";
}
.gy-stumbleupon2:before {
  content: "\ead0";
}
.gy-stackoverflow:before {
  content: "\ead1";
}
.gy-pinterest:before {
  content: "\ead2";
}
.gy-pinterest2:before {
  content: "\ead3";
}
.gy-xing:before {
  content: "\ead4";
}
.gy-xing2:before {
  content: "\ead5";
}
.gy-flattr:before {
  content: "\ead6";
}
.gy-foursquare:before {
  content: "\ead7";
}
.gy-yelp:before {
  content: "\ead8";
}
.gy-paypal:before {
  content: "\ead9";
}
.gy-chrome:before {
  content: "\eada";
}
.gy-firefox:before {
  content: "\eadb";
}
.gy-IE:before {
  content: "\eadc";
}
.gy-edge:before {
  content: "\eadd";
}
.gy-safari:before {
  content: "\eade";
}
.gy-opera:before {
  content: "\eadf";
}
.gy-file-pdf:before {
  content: "\eae0";
}
.gy-file-openoffice:before {
  content: "\eae1";
}
.gy-file-word:before {
  content: "\eae2";
}
.gy-file-excel:before {
  content: "\eae3";
}
.gy-libreoffice:before {
  content: "\eae4";
}
.gy-html-five:before {
  content: "\eae5";
}
.gy-html-five2:before {
  content: "\eae6";
}
.gy-css3:before {
  content: "\eae7";
}
.gy-git:before {
  content: "\eae8";
}
.gy-codepen:before {
  content: "\eae9";
}
.gy-svg:before {
  content: "\eaea";
}
.gy-IcoMoon:before {
  content: "\eaeb";
}
